/* Montserrat-Medium */
@font-face {
  font-family: "CaviarDreams";
  src: url("./CaviarDreams.ttf");
  font-display: swap;
}
/* Montserrat-Medium */
@font-face {
  font-family: "KGInimitableOriginal";
  src: url("./KGInimitableOriginal.ttf");
  font-display: swap;
}
/* Montserrat-Medium */
@font-face {
  font-family: "maoken";
  src: url("./maoken.ttf");
  font-display: swap;
}

/* Montserrat-Medium */
@font-face {
  font-family: "uzura";
  src: url("./uzura.ttf");
  font-display: swap;
}